
body {
	background-color: #5555aa;

	background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F2.bp.blogspot.com%2F-gNo-DE1naIE%2FVUk3ds1jnmI%2FAAAAAAAAB9c%2FyAF0ZTbjXA0%2Fs1600%2Fcirrus1.jpg&f=1&nofb=1&ipt=9e76bd8908438050c0a0c419f7484fbbfa5bebd3a910f1eaa7c641c79cc19b95);
	background-repeat: no-repeat;
	background-size: 200%;
	image-rendering: crisp-edges;


	--tab-gradient: linear-gradient(90deg,rgba(51, 51, 136, 1) 0%, rgba(119, 119, 170, 1) 100%);
}

img {
	border-radius: 10px;
}

.links {
	width: fit-content;
	padding: 10px;
	position: absolute;
	right: 0;

	display: flex;
	flex-direction: column;
}

.links img {
	width: 100px;
}

.photos {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fit {
	width: fit-content;
	margin: 0 auto;
	padding: 10px;
}

.cool-border {
	--header-border-size: 8px;

	border-top: var(--header-border-size) solid #333388;
	border-left: var(--header-border-size) solid #333388;
	border-right: var(--header-border-size) solid #7777cc;
	border-bottom: var(--header-border-size) solid #7777cc;
}

.cloud-separator {
	width: 1000px;
	height: 200px;
	background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngarts.com%2Ffiles%2F3%2FClouds-PNG-Free-Download.png&f=1&nofb=1&ipt=5aa84e0d57d7113c3d7916c78b3ea4920a5c4148f5361fb477e7f12822931d9d);
	background-repeat: repeat;
}

.header {
	background: #5555aa;
	
	box-shadow: 0px 0px 50px 2px black;

	display: flex;
	flex-direction: row;
}

.header .logo {
	image-rendering: crisp-edges;
}

.between {
	margin-top: 50px;
	text-align: center;
}

.between p {
	font-size: 20px;
	color: white;
	text-shadow: 3px 3px 2px black;
}

.expect {
	width: fit-content;
	margin: 50px 0;
	color: white;
	text-align: center;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	background: #5555aa;
}

.expect .title {
	font-size: 16px;
	margin-bottom: 25px;
	background: var(--tab-gradient);
}

.container {
	background: #5555aa;
}

.expect .container {
	width: 300px;
	height: 300px;
	margin: 20px;
	padding: 20px;
}

.expect .container:hover {
	background-color: #33338880;
	cursor: pointer;
}

.expect .container .title {
	font-size: 36px;
}

.expect .container img {
	width: 300px;
	max-height: 250px;

	image-rendering: crisp-edges;
}


