
.profile-id {
	background: pink;
	border: 5px solid white;
	border-radius: 10px;
	width: fit-content;
	padding: 15px 25px;
	width: 500px;
}

.profile-pic {
	margin: 10px;
	width: 150px;
	border-radius: 50%;
	border: 10px solid white;
}

.profile-section {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.profile-name {
	background: white;
	padding: 10px 20px;
	border-radius: 5px;
	color: aqua;
	font-size: 1.8em;
}

.profile-description {
	border-radius: 5px;
	color: black;
}

.content {
	margin: 0 auto;
	text-align: center;
}

a {
	font-size: 1.5em;
	color: var(--link-color); 
	text-decoration: none;
}

a:hover {
	color: yellow;
}

