
body {
	text-align: center;
}

ul {
	padding: 0;
}

.menu {
	background: #181818;
	padding: 20px;
	margin: 0;
	box-shadow: 1px 1px 20px 2px #00000030;
}

.subtitle {
	margin: 0 auto;
	width: 80%;
	color: #ccc;
	font-size: 1.85em;
	font-weight: normal;
	font-style: italic;
}

.projects-title {
	margin: 50px 0;
	font-size: 3em;
}

.socials {
	margin: 50px;
}

.socials a {
	display: inline-block;
	height: 50px;
	color: #7777ff;
	padding: 20px;
	transition: 0.25s ease;
	border-radius: 50%;
}

.socials a svg {
	width: 50px;
	fill: #7777ff;
	transition: 0.25s ease;
}

.socials a:hover svg {
	fill:white;
}

.socials a:hover{
	background: #7777ff20;
}

#LINKS {
	display: flex;
	flex-direction: row;
	user-select: none;
	justify-content: center;
	align-items: center;

	border: 4px solid #7777ff;
	width: fit-content;
	padding: 25px;
	margin: 0 auto;
	background: #242424;
	margin-bottom: 100px;
}

#LINKS a {
	width: fit-content;
	cursor: pointer;
	padding: 10px;
	margin: 0 10px;
	color: #7777ff;
	transition: .1s ease;
	background: #242424;
}

#LINKS a:hover {
	background: #181818;
}





