
* {
	user-select: none;
}

.profile-id {
	background: pink;
	border: 5px solid #734378;
	border-radius: 10px;
	width: fit-content;
	padding: 15px 25px;
	width: 600px;
}

.profile-pic {
	margin: 10px;
	width: 150px;
	border-radius: 50%;
	border: 10px solid white;
}

.profile-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.profile-facts {
	width: 100%;
	display: grid;
  grid-template-columns: 50% 50%;
}

.profile-name {
	background: white;
	padding: 10px 20px;
	border-radius: 5px;
	color: aqua;
	font-size: 1.8em;
}

.profile-description {
	border-radius: 5px;
	color: black;
}

.content {
	margin: 0 auto;
	text-align: center;
}

.links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.links a {
	font-size: 2em;

	--shit1-primary: yellow;
	--shit1-secondary: black;

	color: var(--shit1-primary);
	background: var(--shit1-secondary);
	padding: 5px 10px;
	border: 5px ridge var(--shit1-primary);

	font-weight: bold;
	text-decoration: none;
	padding: 10px;

	animation: rainbow 5s linear infinite;
	transition: .5s ease;
	z-index: 999;

	margin: 5px;
}

.links a:hover {
	padding: 0px 10px;
	border: 5px ridge pink;
	color: pink;
}


.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 50px 0;
	border: 1px solid darkgray;
}

.content {
	background: #101010;
	color: white;
	padding: 30px 10px;
	margin: 0;
}

.variable {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	font-size: 1.25em;
}

.variable .name {
	background: white;
}

.variable .value {
	background: white;
}

.variable p {
	padding: 10px;
	border-radius: 10px;
	color: #EAB7F7;
}

.profile-butt {
	width: 200px;
	position: absolute;
	left: 600px;
}


#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* so it doesn't block clicks */
  z-index: 9999;        /* on top of everything */
}

.dadada {
	text-align: center;
	margin: 0 auto;
}

.dadada img {
	width: 300px;
}

.music-box {
	margin: 0 auto;
	text-align: center;
}

.music-player {
	width: 90%;
}


.item {
	margin: 40px;
}

