
body {
	--background-color: black;
	--link-color: aqua;
	--link-background-color: #cba6f7;
	--text-color: lightgray;
	--accent-color-1: #cba6f7;

	margin: 0;
	background: var(--background-color);

	color: var(--text-color);
}

h1 {
  font-size: 1.75em;
}

p {
  margin-left: 20px;
  font-size: 1.25em;
}

.section {
  margin: 50px 0;
  padding: 1px 10px;
	background: #050505;
	border-top: 5px solid #101010;
	border-right: 5px solid aqua;
}

.panels {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.left-panel {
	width: 46%;
}

.right-panel {
	width: 46%;
}

