
body {
	--background-color: #000;
	--link-color: black;
	--link-background-color: #cba6f7;
	--text-color: #e5e5e5;
	--accent-color-1: #cba6f7;

	margin: 40px;
	background: var(--background-color);

	color: var(--text-color);
}

p {
  margin-left: 20px;
}

