
body {
	background: #000;
	color: white;

	font-size: 2em;
}

input {
	background: none;
	border: 2px solid red;
	border-radius: 0;
	color: white;
	font-size: 0.75em;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header img {
	margin: 0 50px;
	height: 168px;
	image-rendering: pixelated;
}

/*
 * WEAPON MORPHING
*/

details {
	margin-top: 50px;
	width: 700px;
	padding: 50px;

	border: 2px solid red;
}

summary {
	cursor: pointer;
	margin-bottom: 25px;

	text-align: center;
}

select {
	font-size: 1.2em;
	padding: 5px 15px;
	background: black;
	border: 2px solid red;
	border-radius: 0;
	color: white;
}

button {
	font-size: 1em;
	padding: 5px 15px;
	background: black;
	border: 2px solid red;
	border-radius: 0;
	color: white;

	cursor: pointer;
	margin-top: 50px;
}

button:hover {
	background: #992222;
}

.calculations {

	text-align: center;
	margin: 0 auto;
}

.weapon-morphing {
}

.value {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.result-table {
	padding: 5px;
}

.bar {
  width: 300px;
  height: 20px;
  background: #422;
}

.fill {
  height: 100%;
  background: #ff7777;
}

.disclaimer {
	font-size: 0.5em;
	color: #ccc;
	text-align: left;

	margin: 50px 0;
}


